body
{
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}
.jumbotron
{
  background-color: #F2F2F2;
  height: vh;
  width: 100%;
  margin-bottom: : 0;
}
.navbar {
	margin-bottom: 0;
  margin-top: 0;
  --width: 320px;
  background-color: #00688B;
  color: white;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover
{
  background-color: inherit;
  color: #fff;
}
.navbar-header .navbar-brand {
    color: #fff;
}
.navbar-header a
{
  position: relative;
  right: -20px;
  color: #fff;
}
.navbar-left
{
  position: relative;
  left: -16px;
}
.input-group
{
  color: black;
  text-align: center;
  height: 20vh;
  min-height: 100px;
  width: 100%;
}
img.displayed
{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.input-group input
{
  height: 20vh;
  min-height: 100px;
  width: 100%%;
  font-size: 80px;
  text-align: center;
  position: relative;
}
.middle
{
  align-self: center;
}
.input-group-addon
{
  font-size: 80px;
}
.radio
{
  text-align: left;
  font-size: 25px;
  color: #5C5C5C;
  position: relative;
  left: 0px;
  margin-bottom: 15px;
}
.btn-primary
{
  margin-top: 20px;
  font-size: 25px;
  height: 70px;
  width: 100%;
}
#button
{
  height: 10vh;
  background-color: #00688b;
}
