body
{
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.jumbotron
{
  background-color: #F2F2F2;
  height: 100vh;
  --width: 320px;
  margin-bottom: : 0;
  margin-top: 0;
}
.navbar {
	margin-bottom: 0;
  margin-top: 0;
  --width: 320px;
  background-color: #00688B;
  color: white;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover
{
  background-color: inherit;
  color: #fff;
}
.navbar-header .navbar-brand {
    color: #fff;
}
.navbar-header a
{
  position: relative;
  right: -20px;
  color: #fff;
}
.navbar-left
{
  position: relative;
  left: -16px;
}
.input-group
{
  color: black;
  text-align: center;
  height: 200px;
  width: 350px;
}
.input-group input
{
  height: 200px;
  width: 350px;
  font-size: 120px;
  text-align: center;
  position: relative;

}
.input-group-addon
{
  font-size: 120px;
}
