body
{
  color: white;
}
.jumbotron
{
  background-color: #F2F2F2;
  height: 450px;
  width: 320px;
  margin-bottom: : 0;
  margin-top: 0;
}
.navbar {
	margin-bottom: 0;
  margin-top: 0;
  width: 320px;
  background-color: #00688B;
}
.navbar-inverse .navbar-nav li a:hover
{
  background-color: inherit;
}
.navbar-brand
{
  color: #fff;
}
.navbar-header a
{
  position: relative;
  right: -20px;
  color: #fff;
}
.navbar-left
{
  position: relative;
  left: -16px;
}
