body
{
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

#remove{
    width: 60px;
    display: block;
    font-size: 10px;
    margin-top: -2.7vh;
    margin-left: 70vw;
}

.jumbotron
{
  background-color: #F2F2F2;
  height: vh;
  width: 100%;
  margin-bottom: : 0;
}
.navbar {
	margin-bottom: 0;
  margin-top: 0;
  --width: 320px;
  background-color: #00688B;
  color: white;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover
{
  background-color: inherit;
  color: #fff;
}
.navbar-header .navbar-brand {
    color: #fff;
}
.navbar-header a
{
  position: relative;
  right: -20px;
  color: #fff;
}
.navbar-left
{
  position: relative;
  left: -16px;
}
.form-inline
{
  display: inline;
}
.form-group
{
  display: inline;
  color: black;
  text-align: center;
  height: 100px;
  width: 100%;
}
.form-group input
{
  height: 8vh;
  min-height: 10px;
  width: 40%;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-left: 50px;
  margin-top: -35px;
}
.jumbotron i
{
  font-size: 30px;
}
.btn-success i
{
  position: relative;
  font-size: 30px;
  width: 23px;
}
.btn-danger i
{
  font-size: 30px;
}
#save_button
{
  position: relative;
  margin-left: 180px;
  margin-top: -110px;
  margin-right: 7px;
}
#remove_button
{
  position: relative;
  margin-top: -110px;
}
#sun
{
  color: #FFEB3B;
}

#moon
{
  color: #8fc3d8;
}
.show
{
  margin-top: -30px;
  margin-left: -20px;
  font-size: 23px;
  color: #5B5B5B;
}

#button
{
  height: 10vh;
  background-color: #00688b;
  margin-left: 22vw;
}
